button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: blue;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px gray;
}

button:hover {background-color: dark-blue;}

button:active {
  background-color: dark-blue;
  box-shadow: 0 5px gray;
  transform: translateY(4px);
}
